.fa-display,
.fa-layer-group,
.fa-circle-check {
  color: $blue;
  margin-bottom: 20px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: "Lato";
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: $lightgray;
  min-height: 300px;
}

.types {
  height: 100%;
  width: 23%;
  text-align: center;
}

.types-p {
  color: $text-gray;
  font-size: 14px;
  font-family: "Lato";
}
